/* Mixins */
/* Elements */
select.form-select {
  padding: 5px 7px;
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
  vertical-align: baseline;
  box-sizing: inherit; }

table {
  width: 100%;
  margin: 0 0 10px; }
  table th.active img {
    margin: 0 15px; }
  table.sticky-header {
    z-index: 999; }
    table.sticky-header thead {
      background: rgba(52, 73, 94, 0.94);
      color: #ECF0F1; }
      table.sticky-header thead a {
        color: #fff; }
      table.sticky-header thead th {
        padding: 11px;
        border: 0px; }
  table.jambo_table > thead a {
    color: #ECF0F1; }
  table.jambo_table > thead > tr > th.active {
    background: none; }

td.checkbox,
th.checkbox {
  display: table-cell;
  margin: 0;
  border: 0; }

ul.secondary {
  padding: 0px;
  border: 0px; }

.alert a {
  color: #E9EDEF;
  text-decoration: underline; }
  .alert a:hover {
    text-decoration: none; }
.alert.alert-success .krumo-root {
  color: #000; }

.vertical-tabs {
  margin: 0 0 40px; }
  .vertical-tabs .vertical-tab-button .summary {
    margin: 0 10px 0; }
  .vertical-tabs .vertical-tabs-panes .panel_toolbox {
    display: none; }

.progress {
  height: auto; }

.main_container .top_nav {
  position: relative;
  z-index: 99; }

fieldset.ief-entity-fieldset {
  margin: 0 0 20px; }

.ief-row-form .ief-form-row {
  padding: 0;
  border: 0px; }

.form-wrapper {
  position: relative; }
  .form-wrapper div.ajax-progress {
    position: absolute;
    top: -10px;
    right: -10px; }

.container-inline.form-actions,
.page-title {
  clear: both; }

/* sidebar menu icon */
.main_menu_side a:before {
  display: inline-block;
  width: 26px;
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal; }
  body.nav-sm .main_menu_side a:before {
    display: block;
    width: 100%;
    font-size: 25px;
    text-align: center; }

/* Left sidebar */
#sidebar-menu li ul {
  display: none; }

#sidebar-menu li.active-trail > ul {
  display: block; }

ul.action-links {
  margin: 0 0 20px;
  list-style-type: none;
  overflow: hidden; }
  ul.action-links li {
    float: left;
    margin: 0 1em 0 0; }
    ul.action-links li a {
      padding-left: 15px;
      font: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
      font-size: 18px;
      font-weight: 300;
      background: transparent url(../images/add.png) no-repeat 0 center;
      line-height: 1.2em; }
.vertical-tabs ul.tabs-left > li {
  border: 1px solid #E6E9ED; }
  .vertical-tabs ul.tabs-left > li > a {
    background: #fff; }
    .vertical-tabs ul.tabs-left > li > a:hover {
      background: none; }
  .vertical-tabs ul.tabs-left > li.selected a {
    background: #5A738E;
    color: #fff; }
ul.bar_tabs {
  padding: 0;
  margin: 0 0 20px;
  height: auto; }
  ul.bar_tabs > li, ul.bar_tabs > li.active {
    margin: 0 10px 0 0; }
  ul.bar_tabs > li a {
    background: #fff; }
  ul.bar_tabs > li.active {
    border: 0px; }
    ul.bar_tabs > li.active a, ul.bar_tabs > li.active a:hover {
      background: #5A738E;
      color: #fff;
      border-radius: 4px 4px 0 0; }
ul.admin-list {
  list-style-type: none; }
  ul.admin-list li {
    margin: 0 0 20px; }
    ul.admin-list li .label {
      font-size: 1.2em; }
ul.action-links {
  padding: 0; }

.form-item label, .exposed-filters .form-item label {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  margin: 0 10px 10px 0;
  line-height: 1.4;
  width: initial; }
.form-item .form-item label, .exposed-filters .form-item .form-item label {
  font-size: 16px;
  text-transform: normal; }
.form-item.form-type-radio label, .form-item.form-type-checkbox label {
  font-size: 1.2em; }

a.tabledrag-handle .handle {
  width: 26px;
  height: 24px; }

.x_title {
  cursor: pointer; }
  .x_title:before, .x_title:after {
    content: " ";
    display: table; }
  .x_title:after {
    clear: both; }
  .x_title legend {
    width: auto;
    border: 0px;
    padding: 0;
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }

.form-item,
.form-actions {
  margin: 0 20px 20px 0; }

.image-widget-data input[type="file"], .image-widget-data input[type="submit"],
.file-widget input[type="file"],
.file-widget input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1; }

form .field-multiple-table th.field-label {
  padding-left: 11px; }

.form-item-created-removed.checkbox {
  display: none; }

.container-inline .x_title {
  display: block; }

label[for=edit-module-filter-name],
label[for=edit-module-filter-name] {
  display: none !important; }

input#edit-module-filter-name {
  height: auto;
  background: transparent;
  border: none;
  border-bottom: 3px solid #DDDDDD;
  color: #333333;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 100;
  text-align: center;
  width: 100%; }

html.js fieldset.collapsed {
  height: auto; }

/* Exposed filters */
.exposed-filters .filters {
  width: inherit;
  display: inline-block; }
.exposed-filters .form-item {
  display: inline-block;
  margin-right: 1em; }

/* Dates */
.date-no-float {
  width: auto;
  float: left;
  clear: none; }
  .date-no-float.container-inline-date .form-item label {
    display: block;
    float: left; }

/* context */
.context-plugin-form .blocks .x_title {
  display: none; }
.context-plugin-form .blocks .x_panel {
  padding: 0;
  margin: 0px; }

.x_panel {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  -khtml-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }

.container-inline-date {
  width: auto;
  float: left;
  clear: none; }
  .container-inline-date label {
    vertical-align: top; }
  .container-inline-date .date-padding {
    display: inline-block;
    *display: inline;
    float: none;
    zoom: 1; }
    .container-inline-date .date-padding:before, .container-inline-date .date-padding:after {
      content: " ";
      display: table; }
    .container-inline-date .date-padding:after {
      clear: both; }

#context-blockform td.blocks .label {
  background: #2A3F54; }

tr.odd .context-blockform-selector .form-item, tr.even .context-blockform-selector .form-item {
  white-space: normal; }

/* Pager */
.item-list .pagination > li {
  display: inline-block;
  *display: inline;
  padding: 0;
  margin: 0 3px;
  zoom: 1; }
  .item-list .pagination > li > a {
    color: #5A738E;
    background-color: #ddd;
    border: 0px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .item-list .pagination > li > a:hover {
      background: #26b99a;
      background-color: rgba(38, 185, 154, 0.59); }
  .item-list .pagination > li.active span, .item-list .pagination > li.active span:hover {
    color: #5A738E;
    background: #26b99a;
    background-color: rgba(38, 185, 154, 0.59);
    border: 0;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }

/* Views styles */
.views-displays .label {
  color: #000;
  font-size: 1em;
  line-height: 20px;
  padding: 0; }

.views-override.container-inline > div {
  display: block; }
  .views-override.container-inline > div select.form-select {
    display: inline-block;
    *display: inline;
    max-width: 300px;
    zoom: 1; }

.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.4); }

.ui-widget-content {
  background: #F3F4EE; }

.ui-widget-header {
  border: 0; }

#views-live-preview .views-query-info {
  display: none; }

.views-live-preview .view {
  text-align: left; }

.ctools-dependent-content .form-item label,
.ctools-dependent-all .form-item label {
  font-size: 1.4em; }
.ctools-dependent-content .form-item .help-block,
.ctools-dependent-all .form-item .help-block {
  margin: 0; }

#views-filterable-options-controls {
  margin: 0; }

#views-ui-preview-form .form-type-textfield label {
  height: auto; }

#views-filterable-options-controls input,
#views-filterable-options-controls select {
  width: 100%; }

.container-inline div {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.views-ui-display-tab-bucket h3 {
  font-size: 1.6em;
  color: #000;
  border-left: 3px solid #DDD;
  text-align: left; }
.views-ui-display-tab-bucket:hover h3 {
  border-color: #73879C; }

.views-display-setting .label,
.views-display-setting .views-ajax-link {
  float: none; }

.form-type-checkbox .help-block {
  display: inline; }

.views-ui-dialog .ui-dialog-titlebar-close {
  right: 3px;
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none; }
  .views-ui-dialog .ui-dialog-titlebar-close:before {
    display: block;
    content: "\f00d";
    color: #5A738E;
    font-family: FontAwesome;
    font-size: 20px; }

/*# sourceMappingURL=main.css.map */
