/* Mixins */
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset: "") {
  @if ($inset != "") {
    @include css3-prefix('box-shadow', $inset $x $y $blur $color);
  } @else {
    @include css3-prefix('box-shadow', $x $y $blur $color);
  }
}

@mixin border-radius($radius: 5px) {
    @include css3-prefix('border-radius', $radius);
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


/* Elements */
select.form-select {
  padding: 5px 7px;
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
  vertical-align: baseline;
  box-sizing: inherit;
}

table {
	width: 100%;
	margin: 0 0 10px;

	th.active {
		img {
			margin: 0 15px;
		}
	}

	&.sticky-header {
		z-index: 999;

		thead {
			background: rgba(52, 73, 94, 0.94);
			color: #ECF0F1;

			a {
				color: #fff;
			}

			th {
				padding: 11px;
				border: 0px;
			}
		}
	}

	&.jambo_table {
		& > thead {
			a {
				color: #ECF0F1;
			}

			& > tr {
				& > th.active {
					background: none;
				}
			}
		}
	}
}

td,
th {
	&.checkbox {
		display: table-cell;
		margin: 0;
		border: 0;
	}
}

ul.secondary {
	padding: 0px;
	border: 0px;
}

.alert {
	a {
		color: #E9EDEF;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&.alert-success {
		.krumo-root {
			color: #000;
		}
	}
}

.vertical-tabs {
	margin: 0 0 40px;

	.vertical-tab-button {
		.summary {
			margin: 0 10px 0;
		}
	}

	.vertical-tabs-panes {
		.panel_toolbox {
			display: none;
		}
	}
}

.progress {
	height: auto;
}

.main_container .top_nav {
	position: relative;
	z-index: 99;
}

fieldset.ief-entity-fieldset {
	margin: 0 0 20px;
}
.ief-row-form .ief-form-row {
	padding: 0;
	border: 0px;
}

.form-wrapper {
	position: relative;

	div.ajax-progress {
		position: absolute;
		top: -10px;
		right: -10px;
	}
}

.container-inline.form-actions,
.page-title {
	clear: both;
}

/* sidebar menu icon */
.main_menu_side {
	a {
		&:before {
			display: inline-block;
			width: 26px;
			font-family: FontAwesome;
			font-size: 18px;
			font-style: normal;
			font-weight: normal;

			body.nav-sm & {
				display: block;
				width: 100%;
				font-size: 25px;
				text-align: center;
			}
		}
	}
}

/* Left sidebar */
#sidebar-menu li ul {
	display: none;
}

#sidebar-menu li.active-trail {
	& > ul {
		display: block;
	}
}

ul {
	&.action-links {
		margin: 0 0 20px;
		list-style-type: none;
		overflow: hidden;

		li {
			float: left;
			margin: 0 1em 0 0;

			a {
				padding-left: 15px;
				font: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
				font-size: 18px;
				font-weight: 300;
				background: transparent url(../images/add.png) no-repeat 0 center;
				line-height: 1.2em;

			}
		}
	}

	.vertical-tabs &.tabs-left {
		& > li {
			border: 1px solid #E6E9ED;

			& > a {
				background: #fff;

				&:hover {
					background: none;
				}
			}
			&.selected {
				a {
					background: #5A738E;
					color: #fff;
				}
			}
		}
	}

	&.bar_tabs {
		padding: 0;
		margin: 0 0 20px;
		height: auto;

		& > li {

			&,
			&.active {
				margin: 0 10px 0 0;
			}

			a {
				background: #fff;

				&:hover {

				}
			}

			&.active {
				border: 0px;

				a {
					&, &:hover {
						background: #5A738E;
						color: #fff;
						border-radius: 4px 4px 0 0;
					}
				}
			}
		}
	}

	&.admin-list {
		list-style-type: none;

		li {
			margin: 0 0 20px;

			.label {
				font-size: 1.2em;
			}
		}
	}

	&.action-links {
		padding: 0;
	}
}

.form-item {
	&,
	.exposed-filters & {

		label {
			font-size: 20px;
			font-weight: 300;
			margin: 0;
			margin: 0 10px 10px 0;
			line-height: 1.4;
			width: initial;
		}

		.form-item {
			label {
				font-size: 16px;
				text-transform: normal;
			}
		}
	}

	&.form-type-radio,
	&.form-type-checkbox {
		label {
			font-size: 1.2em;
		}
	}
}

a.tabledrag-handle .handle {
	width: 26px;
	height: 24px;
}

.x_title {
	cursor: pointer;
	@include clearfix();

	legend {
		width: auto;
		border: 0px;
		padding: 0;
		margin: 5px 0 6px;
		float: left;
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

.form-item, 
.form-actions {
	margin: 0 20px 20px 0;
}

.image-widget-data,
.file-widget {
	input {
		&[type="file"],
		&[type="submit"] {
			display: inline-block;
			*display: inline;
			zoom: 1;
		}
	}
}

form .field-multiple-table th.field-label {
	padding-left: 11px;
}

.form-item-created-removed.checkbox {
	display: none;
}

.container-inline .x_title {
	display: block;
}

label[for=edit-module-filter-name], 
label[for=edit-module-filter-name] {
	display: none !important;
}
input#edit-module-filter-name {
	height: auto;
	background: transparent;
	border: none;
	border-bottom: 3px solid #DDDDDD;
	color: #333333;
	font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
	font-size: 32px;
	line-height: 38px;
	font-weight: 100;
	text-align: center;
	width: 100%;
}

html.js {
	fieldset.collapsed {
		height: auto;
	}
}

/* Exposed filters */
.exposed-filters {
	.filters {
		width: inherit;
		display: inline-block;
	}
	.form-item {
		display: inline-block;
		margin-right: 1em;
	}
}

/* Dates */
.date-no-float {
	width: auto;
	float: left;
	clear: none;

	&.container-inline-date {
		.form-item label {
			display: block;
			float: left;
		}
	}
}

/* context */
.context-plugin-form {
	.blocks {
		.x_title {
			display: none;
		}

		.x_panel {
			padding: 0;
			margin: 0px;
		}
	}
}

.x_panel {
	@include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.08));
}

.container-inline-date {
	width: auto;
	float: left;
	clear: none;

	label {
		vertical-align: top;
	}

	.date-padding {
		display: inline-block;
		*display: inline;
		float: none;
		@include clearfix();
		zoom: 1;
	}
}

#context-blockform td.blocks .label {
	background: #2A3F54;
}
.context-blockform-selector {
	tr.odd & .form-item, 
	tr.even & .form-item {
		white-space: normal;
	}
}

/* Pager */
.pagination {
	.item-list & > li {
		display: inline-block;
		*display: inline;
		padding: 0;
		margin: 0 3px;
		zoom: 1;

		& > a {
			color: #5A738E;
			background-color: #ddd;
			border: 0px;
			@include border-radius(5px);

			&:hover {
				background: rgb(38, 185, 154);
				background-color: rgba(38, 185, 154, 0.59);
			}
		}

		&.active span {
			&, &:hover {
				color: #5A738E;
				background: rgb(38, 185, 154);
				background-color: rgba(38, 185, 154, 0.59);
				border: 0;
				@include border-radius(5px);
			}
		}
	}
}
 
/* Views styles */
.views-displays {
	.label {
		color: #000;
		font-size: 1em;
		line-height: 20px;
		padding: 0;
	}
}
.views-override {
	&.container-inline > div {
		display: block;

		select.form-select {
			display: inline-block;
			*display: inline;
			max-width: 300px;
			zoom: 1;
		}
	}
}
.ui-widget-overlay {
	background: rgba(0,0,0,0.4);
}
.ui-widget-content {
	background: #F3F4EE;
}
.ui-widget-header {
	border: 0;
}
.views-live-preview .view {
	text-align: left;
}

.ctools-dependent-content,
.ctools-dependent-all {
	.form-item {
		label {
			font-size: 1.4em;
		}
		.help-block {
			margin: 0;
		}
	}
}

#views-filterable-options-controls {
	margin: 0;
}
#views-ui-preview-form .form-type-textfield label {
	height: auto;
}
#views-filterable-options-controls input, 
#views-filterable-options-controls select {
	width: 100%;
}
.container-inline div {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.views-ui-display-tab-bucket {
	h3 {
		font-size: 1.6em;
		color: #000;
		border-left: 3px solid #DDD;
		text-align: left;
	}

	&:hover {
		h3 {
			border-color: #73879C;
		}
	}
}

.views-display-setting .label, 
.views-display-setting .views-ajax-link {
	float: none;
}

.form-type-checkbox .help-block {
	display: inline;
}

.views-ui-dialog {
	.ui-dialog-titlebar-close {
		right: 3px;
		background: none;
		border: 0;
		border-radius: 0;
		box-shadow: none;

		&:before {
			display: block;
			content: "\f00d";
			color: #5A738E;
			font-family: FontAwesome;
			font-size: 20px;
		}
	}
}